# Executables
tests/test1

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
p2/.vscode/c_cpp_properties.json
p2/.vscode/settings.json
p2/fs/tfs_server
p2/tests/client_server_simple_test
p2/tests/lib_destroy_after_all_closed_test
tests/copy_to_external_errors
tests/copy_to_external_simple
tests/tt1
tests/valgrind-out.txt
tests/write_10_blocks_simple
tests/write_10_blocks_spill
tests/write_more_than_10_blocks_simple
